   <div class="container pt-5">
    <div class="row">
    <% Category.all.each do |category| %>
  <div class="col-3 pt-3">

    <div class="card h-100">
      <img
        src="<%= category.image %>"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <p><%= category.title %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>