<div class="container pt-5">
    <div class="row">
  <% Category.children_of(@category).each do |sub_category| %>
  <div class="col-3 pt-3">
    <div class="card h-100">
      <img
        src="<%= sub_category.image %>"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <p><%= link_to sub_category.title, show_tasks_category_path(sub_category) %></p>
      </div>
    </div>
  </div>
  <% end %>
</div>