
<div class="container pt-5">
<div class="row pt-5 ">
     		<% @category.tasks.each do |task| %>
     		<%if Order.where(task_id: task, status: 0).present?%>
     		<% @is_empty = false %>
          	<h4 class="btn btn-outline-success" style="display: block; text-decoration:none;">
          		<%= link_to task.title, task_path(task), {:style=>'display: block; text-decoration:none; font-weight:bold; color: black;', :class => "card-body text-truncate"} %>

          		<p class="card-text text-truncate"><%=link_to task.description, task_path(task), {:style=>'display: block; text-decoration:none; color: black; text-align: left;'} %></p>

          		<p class="card-text text-truncate"><%=link_to number_to_currency(task.price, unit: "UAH", separator: ",", delimiter: " ", format: "%n %u"), task_path(task), {:style=>'display: block; text-decoration:none; font-weight:bold;color: black; text-align: right;'}%></p></h4>
     		<% end %>

     		<% end %>
</div>
     		<%if @is_empty%>
<h1>Упс... Тут поки, що нічого немає &#128577;</h1>
<% end %>
</div>